<form>
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="profile-picture" placeholder="Profile-Picture">
	<input type="text" name="bio" placeholder="Bio">
	<input type="submit" name="" value="Submit">
</form>
<script src="/scripts/add-dog.js"></script>
